/* ---------- */
/* Components */
/* ---------- */

.large-button {
    position: relative;
    /* use em to help the padding to grow or shrink with the font-size */
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1;
    text-decoration: none;
    border-radius: 50%;
}

.large-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: hsl(var(--clr-white) / 0.15);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.2);
    opacity: 1;
}

.primary-navigation {
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: 0.5em;
}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0);
    transition: border-bottom 500ms ease-in-out;
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 0.5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 1);
    border-bottom: 0.2rem solid hsl(var(--clr-white) / 1);
}

.tab-list {
    --gap: 3rem;
}

.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 0.5em;
    background-color: hsl(var(--clr-white) / 0.25);
    transition: background-color 200ms ease-in-out;
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl(var(--clr-white) / 0.5);
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 1);
}

.numbered-indicators > * {
    display: grid;
    place-items: center;
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid hsl(var(--clr-white) / .1);
    padding: 0 3em;
    background-color: hsl(var(--clr-white) / 0);
    color: hsl(var(--clr-white) / 1);
    transition: color 500ms linear, border 300ms ease-in-out;
}

.numbered-indicators > *:hover,
.numbered-indicators > *:focus {
    border: 1px solid hsl(var(--clr-white) / 5);
}

.numbered-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-dark) / 1);
    background-color: hsl(var(--clr-white) / 1);
}
