/* --- */
/* Reset */
/* --- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6
p {
   font-weight: 400;
}

/* body */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
}

/* images */
img,
picture {
    max-width: 100%;
    display: block;
}

/* forms */
input,
button,
textarea,
select {
    font: inherit
}

/* animations */
@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        animation-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

